{% extends 'base.html' %}

{% block content %}
<h2 class="text-center">DETAIL</h2>

<a href="{% url 'articles:edit' article.pk %}" class="btn btn-primary">EDIT</a>

<h3> {{article.pk}} 번째 글</h3>
<hr>
<p>제목 : {{article.title}}</p>
<p>내용 : {{article.content}}</p>
<p>작성 시각 : {{article.created_at}}</p>
<p>수정 시각 : {{article.updated_at}}</p>
<hr>

<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <button class="btn btn-danger">DELETE<button>
</form>


<a href="{% url 'articles:index' %}">[BACK]</a>

{% endblock  %}