{% extends 'base.html' %}

{% block content %}
<h1>TODO 상세보기</h1>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{todo.title}}</h5>
                    {% comment %} <h5 class="card-title">제목이에요</h5> {% endcomment %}
                    <p class="card-text">{{todo.description}}</p>
                    {% comment %} <p class="card-text">설명</p> {% endcomment %}
                    <a href="" class="btn btn-primary">목록으로</a>
                </div>
            </div>
        </div>
    </div>
<div>
{% endblock  %}